{% extends "base.html" %}

{% block content %}
        
<!-- Carousel  -->
<div id="myCarousel" class="carousel slide">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="{% static 'images/carousel/burger.jpg' %}" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Welcome to Delicious Dispatch!</h1>
          <pthis is="" an="" example="" layout="" with="" carousel="" that="" uses="" the="" bootstrap="" 3="" styles.<="" small=""><p></p>
          <p><a class="btn btn-lg btn-primary" href="http://www.google.com">Learn More</a>
        </p></pthis></div>
      </div>
    </div>
    <div class="item">
      <img src="{% static 'images/carousel/pasta.jpg' %}" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Changes to the Grid</h1>
          <p>Bootstrap 3 still features a 12-column grid, but many of the CSS class names have completely changed.</p>
          <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="{% static 'images/carousel/food3.jpg' %}" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Percentage-based sizing</h1>
          <p>With "mobile-first" there is now only one percentage-based grid.</p>
          <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes  -->
<!-- Wrap the rest of the page in another container to center all the content -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-4 text-center">
      <img class="img-circle" src="{% static 'images/marketing/click.jpg' %}">
      <h2>Order</h2>
      <p>Place your order online with any of our</p><p>fifteen local Blacksburg restaurants.</p>
      <p><a class="btn btn-default" href="#about">Try it out »</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="{% static 'images/marketing/lounge.jpg' %}">
      <h2>Relax</h2>
      <p>Kick back, or be productive, as one of</p><p>our employees rushes to your food.</p>
      <p><a class="btn btn-default" href="http://www.stumbleupon.com/" target="_blank">Waste some time »</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="{% static 'images/marketing/eating.jpg' %}">
      <h2>Eat</h2>
      <p>Wash your hands, enjoy your meal as it's</p><p>delivered right to your front door.</p>
      <p><a class="btn btn-default" href="#">How'd we do? »</a></p>
    </div>
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">
<!--
  <div class="featurette">
    <img class="featurette-image img-circle pull-right" src="http://placehold.it/512">
    <h2 class="featurette-heading">Responsive Design. <span class="text-muted">It'll blow your mind.</span></h2>
    <p class="lead">In simple terms, a responsive web design figures out what resolution of device it's being served on. Flexible grids then size correctly to fit the screen.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-left" src="http://placehold.it/512">
    <h2 class="featurette-heading">Smaller Footprint. <span class="text-muted">Lightweight.</span></h2>
    <p class="lead">The new Bootstrap 3 promises to be a smaller build. The separate Bootstrap base and responsive.css files have now been merged into one. There is no more fixed grid, only fluid.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" src="http://placehold.it/512">
    <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Flatness.</span></h2>
    <p class="lead">A big design trend for 2013 is "flat" design. Gone are the days of excessive gradients and shadows. Designers are producing cleaner flat designs, and Bootstrap 3 takes advantage of this minimalist trend.</p>
  </div>

  <hr class="featurette-divider">
   
   /END BLOCK OUT -->
  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>Copyright 2014 Delicious Delivery</p>
  </footer>

</div><!-- /.container -->
        
        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type='text/javascript' src="bootstrap-3.1.1\js\bootstrap.min.js"></script>


        <!-- JavaScript jQuery code -->
        
        <script type='text/javascript'>
        
        $(document).ready(function() {
        
			$('.carousel').carousel({
                interval:   7000
            });
			
        });
		
        </script>
        
{% endblock %}